.card {
  width: 1003px;
  height: 557px;

  border: 5px solid #000000;
  border-radius: 5px;

  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;

  background-image: url('../img/event-bg.jpg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  display: block;
  width: 100%;
  padding-top: 30px;
  height: 100px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  font-size: 48px;
  font-family: "Trappist", sans-serif;
  font-weight: 400;
  color: #ff6700;
  line-height: normal;
}

.photo {
  margin-top: -40px;
  width: 335px;
  height: 302px;

  border: 5px solid #668ef3;

  position: relative;
  overflow: hidden;

  margin-left: 40px;
  box-sizing: border-box;
}

.photo-inside {
  width: 325px;
  height: 292px;

  background-image: url('../img/photo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  position: absolute;

  z-index: 0;
  top: 25.5%;
  left: 4.6%;
}

.logo-1 {
  width: 250px;
  height: 35px;
  background-image: url('../img/logo.svg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;

  position: absolute;

  top: 70%;
  left: 10%;
}

.name {
  width: 50%;
  height: 300px;
  padding-right: 37px;
}

.info {
  margin: 0;
  font-size: 42px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 600;
  color: #231f20;
  line-height: normal;
  text-transform: uppercase;
  border-bottom: 5px solid #78909c;
}

.info-age {
  width: 50%;
}

.stamp {
  width: 230px;
  height: 230px;

  position: absolute;
  bottom: 20px;
  right: 80px;

  background-image: url('../img/form-face.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;
}
