.choose-slider {
  width: 100%;
  position: relative;

  &:not(.slick-initialized) {
    visibility: hidden;
    @include flex-setting(row, space-between, flex-start);
  }

  .prev-1,
  .next-1 {
    display: none;
  }

  .slick-dots {
    @include flex-setting(row, center, center);

    list-style: none;
    margin: 0;
    padding: 0;

    margin-top: 5px;

    li {
      margin: 0 0.5rem;
    }

    button {
      display: block;
      width: 12px;
      height: 12px;
      padding: 0;
      border: 1px solid #000000;
      border-radius: 100%;
      background-color: #ffffff;
      text-indent: -9999px;

      cursor: pointer;
      outline: none;
    }

    li.slick-active button {
      background-color: transparent;
      position: relative;

      width: 12px;
      height: 12px;
      border: 1px solid #000000;
      border-radius: 100%;
      background-color: #ffffff;

      cursor: pointer;
      outline: none;

      &::before {
        position: absolute;
        content: '';

        width: 18px;
        height: 18px;

        border: 1px solid #000000;

        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);

        background-color: transparent;
        border-radius: 50%;
      }
    }
  }

  &__item {
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    flex-wrap: wrap;

    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
  }

  &__show {
    width: 70px;
    height: 70px;

    border: 4px solid #ffffff;

    box-shadow: 0px 0px 1px 1px rgba(0,0,0,1);
    -webkit-box-shadow: 0px 0px 1px 1px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 1px 1px rgba(0,0,0,1);

    margin-bottom: 6px;
    cursor: pointer;

    .choose-slider__details {
      @include flex-setting(column, center, center);
      background-size: cover;

      height: 100%;
      width: 100%;
      border: 1px solid #000000;
    }

    .choose-slider__time {
      width: 100%;
      padding-top: 2px;
      padding-bottom: 2px;

      @include font-setting($primary-font, 1rem, 1, 700, #788f9b);
      text-align: center;
      text-transform: uppercase;
    }

    &:hover {
      .choose-slider__time {
        display: none;
      }

      .choose-slider__name {
        display: inline-flex;
      }
    }
  }

  &--final {
    .choose-slider__time {
      background-color: rgba(0, 0, 0, 0.5);
      color: #fff;
      margin-top: auto;
      margin-bottom: 0;
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
    }

    .choose-slider__name {
      background-color: rgba(0, 0, 0, 0.5);
      color: #fff;
      margin-top: auto;
      margin-bottom: 0;
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
    }
  }

  &__name {
    @include font-setting($primary-font, 0.625rem, 1, 700, #788f9b);
    text-align: center;
    text-transform: uppercase;

    display: none;
  }
}

@media only screen and (min-width: $mobile) {
  .choose-slider {
    .slick-dots {
      margin-top: 10px;
    }

    &__show {
      width: 77px;
      height: 77px;

      margin-bottom: 8px;

      .choose-slider__details {
        width: 69px;
        height: 69px;
      }

      .choose-slider__time {
        font-size: 1rem;
      }
    }
  }
}

@media only screen and (min-width: $hdm) {
  .choose-slider {
    max-width: 374px;

    &__show {
      width: 86px;
      height: 86px;

      margin-bottom: 6px;

      .choose-slider__details {
        width: 78px;
        height: 78px;
      }

      .choose-slider__time {
        font-size: 1.25rem;
      }
    }

    &--final {
      .choose-slider__name {
        width: 100%;
        font-size: 0.75rem;
        min-height: 28px;
      }
    }
  }
}

@media only screen and (min-width: $tablet) {
  .choose-slider {
    max-width: 650px;

    .slick-dots {
      margin-top: 12px;

      button {
        width: 14px;
        height: 14px;
      }

      li.slick-active button {
        width: 14px;
        height: 14px;

        &::before {
          width: 24px;
          height: 24px;
        }
      }
    }

    &__show {
      width: 152px;
      height: 156px;
      border-width: 7px;

      margin-bottom: 8px;

      .choose-slider__details {
        width: 138px;
        height: 142px;
      }

      .choose-slider__time {
        font: {
          size: 2rem;
        }
      }
    }

    &__name {
      font-size: 1rem;
    }

    &--final {
      .choose-slider__name {
        justify-content: center;
        text-align: center;
        width: 100%;
        font-size: 1.25rem;
        padding-top: 0.313rem;
        padding-bottom: 0.313rem;

        min-height: 40px;
      }
    }
  }
}

@media only screen and (min-width: $laptop) {
  .choose-slider {
    max-width: 740px;
    margin-top: -2px;

    &__item {
      justify-content: center;
    }

    &__show {
      width: 120px;
      height: 120px;

      margin-bottom: 0;
      border-width: 6px;
      box-shadow: 0px 0px 0px 2px rgba(0,0,0,1);

      .choose-slider__details {
        width: 108px;
        height: 108px;
        border-width: 2px;
      }

      .choose-slider__time {
        font-size: 1.5rem;
      }
    }

    &--final {
      .choose-slider__name {
        font-size: 1rem;
        min-height: 32px;
      }
    }
  }
}

@media only screen and (min-width: $laptop-wide) {
  .choose-slider {
    max-width: 660px;

    .slick-dots {
      display: none !important;
    }

    &__show {
      width: 109px;
      height: 109px;

      border-width: 5px;

      .choose-slider__details {
        width: 99px;
        height: 99px;
      }

      .choose-slider__time {
        font-size: 1.75rem;
      }
    }

    &--final {
      display: flex !important;
      visibility: visible !important;
      overflow: visible;

      flex-direction: column !important;
      justify-content: flex-start;
      align-items:center;

      .choose-slider__name {
        font-size: 0.875rem;
        min-height: 36px;
      }

      .choose-slider__item--night {
        margin-top: -2px;
        margin-bottom: 0.625rem;
      }
    }
  }
}

@media only screen and (min-width: $widebook-hd) {
  .choose-slider {
    max-width: 810px;

    &__show {
      width: 134px;
      height: 140px;
      border-width: 7px;

      .choose-slider__details {
        width: 119px;
        height: 126px;
        margin: 0;
      }

      .choose-slider__time {
        font-size: 2rem;
      }

    }

    &--final {
      .choose-slider__time {
        font-size: 2.125rem;
      }
      .choose-slider__name {
        font-size: 1.125rem;
        min-height: 42px;
      }
    }
  }
}

@media only screen and (min-width: $ultra) {
  .choose-slider {
    max-width: 1215px;

    &__show {
      width: 201px;
      height: 210px;
      border-width: 10px;

      .choose-slider__details {
        width: 182.5px;
        height: 189px;
        margin: 0;
      }

      .choose-slider__time {
        font: {
          size: 1.75em;
        }
      }
    }
  }
}
