.choose {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: 300px;

  position: relative;
}

@media only screen and (min-width: $mobile) {
  .choose {
    max-width: 332px;
  }
}

@media only screen and (min-width: $hdm) {
  .choose {
    max-width: 368px;
  }
}

@media only screen and (min-width: $tablet) {
  .choose {
    max-width: 650px;
  }
}

@media only screen and (min-width: $laptop) {
  .choose {
    max-width: 740px;
  }
}

@media only screen and (min-width: $widebook-hd) {
  .choose {
    max-width: 810px;
  }
}
