.content-show {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  opacity: 0;

  &--visible {
    visibility: visible;
    opacity: 1;
    transition: 0.2s ease-in;
  }

  &__wrapper {
    width: 100%;
    max-width: 340px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background-color: transparent;

    position: relative;
  }

  &__title {
    font: {
      size: 1.25em;
      family: $semibold-font;
      weight: 600;
    }

    color: $text-white;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 5px;
  }
}

@media only screen and (min-width: $mobile) {
  .content-show {
    &__wrapper {
      max-width: 360px;
    }

    &__title {
      font: {
        size: 1.375em;
      }

      margin-bottom: 10px;
    }
  }
}

@media only screen and (min-width: $hdm) {
  .content-show {
    &__wrapper {
      max-width: 380px;
    }

    &__title {
      font: {
        size: 1.5em;
      }
    }
  }
}

@media only screen and (min-width: $tablet) {
  .content-show {
    &__wrapper {
      max-width: 706px;
    }

    &__title {
      font: {
        size: 3.081em;
      }
    }
  }
}

@media only screen and (min-width: $laptop) {
  .content-show {
    &__wrapper {
      max-width: 706px;
    }

    &__title {
      font: {
        size: 2.5em;
      }

      margin-bottom: 0;
    }
  }
}

@media only screen and (min-width: $laptop-hd) {
  .content-show {
    visibility: visible;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: 860px;
    height: auto;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
    background-color: transparent;
    opacity: 1;

    &__wrapper {
      max-width: 860px;
    }

    &__title {
      display: none;
    }
  }
}

@media only screen and (min-width: $laptop-wide) {
  .content-show {
    max-width: 700px;

    &__wrapper {
      max-width: 700px;
    }
  }
}

@media only screen and (min-width: $laptop-wide) {
  .content-show {
    max-width: 860px;

    &__wrapper {
      max-width: 860px;
    }
  }
}
