.content-form {
  @include flex-setting(column, flex-start, center);
  width: 100%;

  margin-bottom: 1.25rem;
}

@media only screen and (min-width: $mobile) {
  .content-form {
    margin-bottom: 0.875rem;
  }
}

@media only screen and (min-width: $laptop-hd) {
  .content-form {
    margin-bottom: 2px;
  }
}

@media only screen and (min-width: $widebook) {
  .content-form {
    margin-bottom: 30px;
  }
}

@media only screen and (min-width: $ultra) {
  .content-form {
    margin-bottom: 60px;
  }
}
