.content-controls {
  width: 100%;

  @include flex-setting(row, space-between, center);

  border: 1px solid #000000;
  border-radius: 30px;

  background-color: #ffffff;

  padding-left: 0.625rem;
  padding-right: 0.625rem;

  margin-bottom: 0.5rem;

  padding-top: 0.188rem;
  padding-bottom: 0.188rem;

  &__title {
    @include font-setting($primary-font, 0.875rem, 1, 700, $text-lightblack);
    text-transform: uppercase;
    margin: 0;

    &--desktop {
      display: none;
    }

    &--final {
      font-size: 0.875em;
      padding-top: 2px;
      padding-bottom: 2px;
    }
  }
}

@media only screen and (min-width: $mobile) {
  .content-controls {
    &__title {
      font-size: 1rem;
    }
  }
}

@media only screen and (min-width: $hdm) {
  .content-controls {
    margin-bottom: 0.25rem;

    &__title {
      font-size: 1.125rem;
    }
  }
}

@media only screen and (min-width: $tablet) {
  .content-controls {
    margin-bottom: 0.5rem;

    max-width: 706px;

    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    border: 2px solid #000;

    &__title {
      font-size: 1.5rem;
    }
  }
}

@media only screen and (min-width: $laptop) {
  .content-controls {
    margin-bottom: 5px;

    max-width: 580px;

    &__title {
      font: {
        size: 1.375em;
      }
    }
  }
}

@media only screen and (min-width: $laptop-hd) {
  .content-controls {
    margin-bottom: 0;

    max-width: 860px;

    justify-content: center;

    &__title {
      font: {
        size: 1.546em;
      }

      &--mobile {
        display: none;
      }

      &--desktop {
        display: inline-flex;
      }
    }
  }
}

@media only screen and (min-width: $laptop-wide) {
  .content-controls {
    margin-bottom: 0;

    max-width: 700px;
    min-height: 48px;

    padding-left: 15px;

    &__title {
      font: {
        size: 1.375em;
      }
    }
  }
}

@media only screen and (min-width: $widebook-hd) {
  .content-controls {
    margin-bottom: 0;

    max-width: 860px;
    min-height: 50px;

    &__title {
      font: {
        size: 1.66em;
      }
    }
  }
}

@media only screen and (min-width: $ultra) {
  .content-controls {
    margin-bottom: 0;

    max-width: 1290px;
    min-height: 75px;

    &__title {
      font: {
        size: 2em;
      }
    }
  }
}
