.doc-form {
  background-color: transparent;

  @include flex-setting(column, flex-start, center);
  width: 100%;

  padding: 0.625rem 0.625rem;

  position: relative;

  &__controls {
    @include flex-setting(row, center, center);
    position: absolute;
    bottom: -40px;

    width: 100%;
  }

  &__btn {
    @include flex-setting(column, center, center);
    @include font-setting($primary-font, 1rem, 1, 700, $text-black);
    -webkit-tap-highlight-color: transparent;

    width: 45%;
    height: 100%;

    border: 2px solid #000;
    padding-left: 1.25rem;
    padding-top: 0.5rem;
    padding-right: 3.25rem;
    padding-bottom: 0.5rem;

    background-color: #dbee07;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 1);
    transition: 0.2s ease-in-out;

    text-decoration: none;
    text-transform: uppercase;

    outline: none;
    cursor: pointer;

    &--save {
      position: relative;
      &::after {
        position: absolute;
        content: '';

        background-image: url("../img/download.png");
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: 80% 80%;

        width: 26px;
        height: 26px;

        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
        transition: 0.2s ease-in-out;
      }
    }

    &--print {
      position: relative;
      margin-right: 0.625rem;
      background-color: #668ef3;

      &::after {
        position: absolute;
        content: '';

        background-image: url("../img/print.png");
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: 80% 80%;

        width: 26px;
        height: 26px;

        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
        transition: 0.2s ease-in-out;
      }
    }

    &:hover,
    &:active,
    &:focus {
      box-shadow: none;
      transform: translate(3px, 3px);
      transition: 0.2s ease-in-out;

      &::after {
        right: 0.625rem;
        transition: 0.2s ease-in-out;
      }
    }
  }
}

@media only screen and (min-width: $tablet) {
  .doc-form {
    width: 50%;
    margin-top: 0px;
    padding-left: 1.625rem;
    padding-right: 0px;
    padding-bottom: 20px;

    position: relative;

    &__controls {
      width: 520px;

      position: absolute;

      bottom: -105px;
      right: -20px;
    }

    &__btn {
      width: auto;

      font-size: 1.25rem;

      &--print {
        margin-right: 1.25rem;
      }
    }
  }
}
