.filter-form {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  &__title {
    margin: 0;

    font: {
      size: 1em;
      family: $semibold-font;
      weight: 600;
    }

    color: $text-lightblack;
    line-height: normal;
    text-transform: uppercase;

    margin-right: 10px;
  }
}
