.filter-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  margin: 0;
  padding: 0;
  list-style: none;

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    margin-right: 5px;
  }

  &__label {
    font: {
      size: 0.675em;
      family: $semibold-font;
      weight: 600;
    }

    line-height: normal;
    text-transform: uppercase;
    color: #7e8285;

    cursor: pointer;
  }

  &__radio:checked + label {
    color: $text-orange;
  }
}
