.filter-form {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  &__title {
    margin: 0;

    font: {
      size: 1em;
      family: $semibold-font;
      weight: 600;
    }

    color: $text-lightblack;
    line-height: normal;
    text-transform: uppercase;

    margin-right: 5px;
  }
}

@media only screen and (min-width: $mobile) {
  .filter-form {
    &__title {
      font: {
        size: 1.125em;
      }

      margin-right: 10px;
    }
  }
}

@media only screen and (min-width: $hdm) {
  .filter-form {
    &__title {
      font: {
        size: 1.25em;
      }
    }
  }
}

@media only screen and (min-width: $tablet) {
  .filter-form {
    padding-bottom: 3px;
    padding-top: 2px;

    &__title {
      font: {
        size: 1.66em;
      }

      margin-right: 15px;
    }
  }
}

@media only screen and (min-width: $laptop-wide) {
  .filter-form {
    &__title {
      font: {
        size: 1.375em;
      }
    }
  }
}

@media only screen and (min-width: $widebook-hd) {
  .filter-form {
    &__title {
      font: {
        size: 1.66em;
      }
    }
  }
}
