.filter-form {
  width: 100%;

  @include flex-setting(row, flex-start, center);

  &__title {
    @include font-setting($primary-font, 0.875rem, 1, 700, $text-lightblack);
    text-transform: uppercase;

    margin: 0;
    margin-right: 0.25rem;
  }
}

@media only screen and (min-width: $mobile) {
  .filter-form {
    &__title {
      font-size: 1rem;

      margin-right: 0.5rem;
    }
  }
}

@media only screen and (min-width: $hdm) {
  .filter-form {
    &__title {
      font-size: 1.125rem;
    }
  }
}

@media only screen and (min-width: $tablet) {
  .filter-form {
    padding-bottom: 3px;
    padding-top: 2px;

    &__title {
      font-size: 1.625rem;

      margin-right: 0.75rem;
    }
  }
}

@media only screen and (min-width: $laptop-wide) {
  .filter-form {
    &__title {
      font: {
        size: 1.375em;
      }
    }
  }
}

@media only screen and (min-width: $widebook-hd) {
  .filter-form {
    &__title {
      font: {
        size: 1.66em;
      }
    }
  }
}
