.filter-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  margin: 0;
  padding: 0;
  list-style: none;

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    margin-right: 5px;
  }

  &__label {
    font: {
      size: 0.675em;
      family: $semibold-font;
      weight: 600;
    }

    line-height: normal;
    text-transform: uppercase;
    color: #7e8285;

    cursor: pointer;
  }

  &__radio:checked + label {
    color: $text-orange;
  }
}

@media only screen and (min-width: $mobile) {
  .filter-list {
    &__label {
      font: {
        size: 0.75em;
      }
    }
  }
}

@media only screen and (min-width: $hdm) {
  .filter-list {
    &__label {
      font: {
        size: 0.875em;
      }
    }
  }
}

@media only screen and (min-width: $tablet) {
  .filter-list {
    &__label {
      font: {
        size: 1.25em;
      }
    }

    &__item {
      margin-right: 20px;
    }

    &__radio + label {
      @include radio-default;
    }

    &__radio + label::before {
      @include custom-radio;
    }

    &__radio:checked + label::after {
      @include radio-checked;
    }

    &__radio:checked + label {
      color: #231f20;
    }
  }
}
