.filter-list {
  @include flex-setting(row, space-between, flex-start);

  margin: 0;
  padding: 0;
  list-style: none;

  &__item {
    @include flex-setting(column, center, center);
    margin-right: 3px;
  }

  &__label {
    @include font-setting($primary-font, 0.625rem, 1, 700, #7e8285);
    text-transform: uppercase;
    color: #7e8285;

    cursor: pointer;
  }

  &__radio + label {
    @include radio-default;
  }

  &__radio + label::before {
    @include custom-radio;
  }

  &__radio:checked + label::after {
    @include radio-checked;
  }

  &__radio:checked + label {
    color: $text-orange;
  }
}

@media only screen and (min-width: $mobile) {
  .filter-list {
    &__item {
      margin-right: 0.5rem;
    }

    &__label {
      font-size: 0.7rem;
    }
  }
}

@media only screen and (min-width: $hdm) {
  .filter-list {
    &__label {
      font-size: 0.75rem;
    }
  }
}

@media only screen and (min-width: $tablet) {
  .filter-list {
    &__label {
      font-size: 1.25rem;
    }

    &__item {
      margin-right: 20px;
    }
  }
}

@media only screen and (min-width: $laptop-wide) {
  .filter-list {
    &__label {
      font-size: 1.25rem;
    }

    &__item {
      margin-right: 10px;
    }
  }
}
