.footer-rules {
  display: none;
}

@media only screen and (min-width: $laptop) {
  .footer-rules {
    @include flex-setting(column, flex-start, center);
    margin: 0;
    padding: 0;
    list-style: none;

    &__link {
      @include font-setting($primary-font, 0.75rem, 1, 400, $text-white);
      text-transform: uppercase;
      text-decoration: none;
      transition: 0.2s ease-in-out;

      &:hover,
      &:active,
      &:focus {
        color: $social-hover;
        transition: 0.2s ease-in-out;
      }
    }
  }
}

@media only screen and (min-width: $laptop-wide) {
  .footer-rules {
    flex-direction: row;

    &__link {
      font-size: 0.875rem;

      &--conditions {
        margin-right: 1.875rem;
        position: relative;

        &::after {
          position: absolute;
          content: '';

          width: 2px;
          height: 70%;

          background-color: #fff;

          top: 50%;
          right: -0.938rem;
          transform: translateY(-50%);
        }
      }
    }
  }
}

@media only screen and (min-width: $laptop-wide) {
  .footer-rules {

  }
}
