.footer {
  width: 100%;

  margin-bottom: 0;
  margin-top: auto;

  background-color: $bg-footer;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  &__rules {
    order: 2;
  }

  &__social {
    order: 1;
  }
}

@media only screen and (min-width: $smt) {
  .footer {
    padding-left: 40px;
    padding-right: 40px;

    padding-top: 9px;
    padding-bottom: 9px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__rules {
      order: 1;
    }

    &__social {
      order: 2;
    }
  }
}

@media only screen and (min-width: $tablet) {
  .footer {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media only screen and (min-width: $laptop) {
  .footer {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media only screen and (min-width: $widebook) {
  .footer {
    padding-left: 95px;
    padding-right: 95px;
  }
}
