.header-nav {
  width: 100%;

  @include flex-setting(row, flex-end, center);

  position: relative;

  padding-top: 0.625rem;

  padding-right: 0.625rem;

  &__toggle {
    width: 44px;
    height: 44px;
    position: relative;
    background-color: #85b8f6;
    border: 2px solid #000;
    border-radius: 50%;
    transform: rotate(0deg);
    transition: .2s ease-in-out;
    cursor: pointer;

    @include flex-setting(column, center, center);

    z-index: 999;

    box-shadow: 2px 2px 0 0 rgba(0,0,0,1);

    span {
      display: block;
      position: absolute;
      height: 5px;
      width: 30px;
      background: #000;
      border-radius: 20px;
      opacity: 1;
      left: 6px;
      transform: rotate(0deg);
      transition: .2s ease-in-out;
    }

    span:nth-child(1) {
      top: 10px;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
    }

    span:nth-child(2) {
      top: 18px;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
    }

    span:nth-child(3) {
      top: 26px;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
    }
  }

  &__toggle.inactive {
    display: none;
  }

  &__toggle.open {
    transition: .2s ease-in-out;
    box-shadow: inset -2px -2px 2px 0 rgba(0,0,0,0.5);
    transform: translate(2px, 2px);
  }

  &__toggle.open span {
    background-color: #000;
  }

  &__toggle.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 8px;
    left: 10px;
    width: 30px;
  }

  &__toggle.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
  }

  &__toggle.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 29px;
    left: 10px;
    width: 30px;
  }
}

@media only screen and (min-width: $hdm) {
  .header-nav {
    &__toggle {
      width: 44px;
      height: 44px;

      span {
        height: 5px;
        width: 30px;
        left: 6px;
      }

      span:nth-child(1) {
        top: 10px;
      }

      span:nth-child(2) {
        top: 18px;
      }

      span:nth-child(3) {
        top: 26px;
      }
    }

    &__toggle.open span:nth-child(1) {
      top: 8px;
      left: 10px;
      width: 30px;
    }

    &__toggle.open span:nth-child(3) {
      top: 29px;
      left: 10px;
      width: 30px;
    }
  }
}

@media only screen and (min-width: $tablet) {
  .header-nav {
    padding-top: 1rem;
    padding-right: 1.5rem;

    &__toggle {
      width: 80px;
      height: 80px;

      span {
        height: 8px;
        width: 42px;
        left: 16px;
      }

      span:nth-child(1) {
        top: 20px;
      }

      span:nth-child(2) {
        top: 35px;
      }

      span:nth-child(3) {
        top: 50px;
      }
    }

    &__toggle.open span:nth-child(1) {
      top: 18px;
      left: 22px;
      width: 42px;
    }

    &__toggle.open span:nth-child(3) {
      top: 48px;
      left: 22px;
      width: 42px;
    }
  }
}

@media only screen and (min-width: $laptop) {
  .header-nav {
    padding-top: 1rem;
    padding-right: 1.5rem;

    &__toggle {
      display: none;
    }
  }
}

@media only screen and (min-width: $widebook-sm) {
  .header-nav {
    padding-top: 8rem;
    padding-right: 8rem;

    &--event {
      padding-top: 2rem;
      padding-right: 2rem;
    }
  }
}

@media only screen and (min-width: 1920px) {
  .header-nav {
    padding-top: 11rem;
    padding-right: 11rem;

    &--event {
      max-width: 1540px;
      padding-top: 2rem;
      padding-right: 2rem;
    }
  }
}

@media only screen and (min-width: $ultra) {
  .header-nav {
    padding-top: 11rem;
    padding-right: 11rem;

    &--event {
      max-width: 1920px;
      padding-top: 2rem;
      padding-right: 2rem;
    }
  }
}
