.main {
  @include container;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  &__logo {
    display: none;
  }
}

@media only screen and (min-width: $laptop) {
  .main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__logo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      width: 50%;
      flex-basis: 50%;

      margin-top: -30px;

      &--event {
        display: none;
      }
    }

    &__link {
      width: 100%;
    }
  }
}

@media only screen and (min-width: $laptop-hd) {
  .main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &--vote {
      align-items: flex-start;
    }

    &--event {
      align-items: flex-start;
    }

    &__logo {
      &--event {
        display: flex;
        width: auto;
        max-width: 350px;

        margin-top: 0px;
      }
    }

    &__link {
      width: 100%;
    }
  }
}


@media only screen and (min-width: $laptop-wide) {
  .main {

    &--vote {
      justify-content: flex-start;
    }

    &__logo {
      width: 50%;
      flex-basis: 50%;

      margin-top: -30px;

      &--vote {
        width: 232px;
        flex-basis: 232px;

        margin-left: 40px;
        margin-right: 5%;
      }
    }

    &__link {
      width: 100%;

      &--vote {
        height: 254px;
        width: 232px;
      }
    }

    &__img {
      max-height: 500px;

      &--vote {
        height: 254px;
      }
    }
  }
}

@media only screen and (min-width: $widebook-sm) {
  .main {
    &__logo {
      width: 50%;
      flex-basis: 50%;

      margin-top: -30px;

      &--vote {
        width: 232px;
        flex-basis: 232px;

        margin-left: 40px;
        margin-right: 10%;
      }
    }

    &__link {
      width: 100%;

      &--vote {
        height: 254px;
        width: 232px;
      }
    }

    &__img {
      max-height: 500px;

      &--vote {
        height: 254px;
      }
    }
  }
}

@media only screen and (min-width: $widebook) {
  .main {
    &--event {
      justify-content: flex-start;
    }

    &__logo {
      width: 50%;
      flex-basis: 50%;

      margin-top: -30px;

      &--vote {
        width: 324px;
        flex-basis: 324px;

        margin-left: 30px;
        margin-right: 10%;
      }

      &--event {
        margin-top: -50px;
      }
    }

    &__link {
      width: 100%;
    }

    &__img {
      max-height: 755px;

      &--vote {
        height: 355px;
      }
    }
  }
}

@media only screen and (min-width: $widebook-hd) {
  .main {

    &__logo {
      &--event {
        margin-right: 5%;
      }
    }
  }
}

@media only screen and (min-width: $ultra) {
  .main {
    &--final {
      align-items: center;
    }
    &__logo {
      max-width: 525px;
      height: 582px;

      &--final {
        margin-right: 10%;
      }
    }
  }
}
