.main {
  @include container;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@media only screen and (min-width: $laptop) {
  .main {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    &__link {
      width: 100%;
    }

    &--event {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }
  }
}

@media only screen and (min-width: $laptop-wide) {
  .main {
    &--vote {
      justify-content: flex-start;
    }

    &__link {
      width: 100%;

      &--vote {
        height: 254px;
        width: 232px;
      }
    }

    &__img {
      max-height: 500px;

      &--vote {
        height: 254px;
      }
    }

    &--event {
      margin-top: -2.875rem;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;

      padding-left: 30px;
      padding-right: 30px;
    }

    &--final {
      margin-top: -2.5rem;
    }
  }
}

@media only screen and (min-width: $widebook-sm) {
  .main {
    &--event {
      margin-top: -4rem;
    }

    &__link {
      width: 100%;

      &--vote {
        height: 254px;
        width: 232px;
      }
    }

    &__img {
      max-height: 500px;

      &--vote {
        height: 254px;
      }
    }
  }
}

@media only screen and (min-width: $widebook) {
  .main {
    &__link {
      width: 100%;
    }

    &__img {
      max-height: 755px;

      &--vote {
        height: 355px;
      }
    }
  }
}

@media only screen and (min-width: $widebook-hd) {
  .main {
    max-width: 1540px;

    &--event {
      margin-top: -2.625rem;
    }

    &__logo {
      &--event {
        margin-right: 5%;
      }
    }
  }
}

@media only screen and (min-width: $ultra) {
  .main {
    max-width: 1920px;
    &--final {
      align-items: center;
    }
    &__logo {
      max-width: 525px;
      height: 582px;

      &--final {
        margin-right: 10%;
      }
    }
  }
}
