.main-content {
  width: 100%;

  @include flex-setting(column, flex-start, center);

  &__submit {
    @include flex-setting(column, center, center);

    border: 2px solid #000;
    padding-left: 1.25rem;
    padding-top: 0.625rem;
    padding-right: 3.25rem;
    padding-bottom: 0.625rem;

    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 1);
    transition: 0.2s ease-in-out;

    position: relative;

    &::after {
      position: absolute;
      content: '';

      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 186'%3E%3Cg data-name='Слой 2'%3E%3Cpath d='M379.6 82.38l-78.38-78a15 15 0 00-21.16 21.26L332.67 78H15a15 15 0 000 30h317.67l-52.62 52.37a15 15 0 1021.16 21.26l78.38-78a15 15 0 000-21.24z' data-name='Режим изоляции'/%3E%3C/g%3E%3C/svg%3E");
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: contain;

      width: 26px;
      height: 13px;

      right: 1rem;
      top: 50%;
      transform: translateY(-50%);
      transition: 0.2s ease-in-out;
    }

    &:hover,
    &:active,
    &:focus {
      box-shadow: none;
      transform: translate(3px, 3px);
      transition: 0.2s ease-in-out;

      &::after {
        right: 0.625rem;
        transition: 0.2s ease-in-out;
      }
    }
  }

  &__buttontxt {
    @include font-setting($primary-font, 1rem, 1, 700, $text-black);
    text-transform: uppercase;
    text-decoration: none;
    z-index: 1;
  }

  &__buttonbg {
    position: absolute;

    width: 50%;
    height: 100%;

    top: 0;
    left: 0;

    background: -moz-linear-gradient(left, rgba(174,234,0,0.7) 0%, rgba(174,234,0,0.7) 1%, rgba(174,234,0,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(174,234,0,0.7) 0%,rgba(174,234,0,0.7) 1%,rgba(174,234,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(174,234,0,0.7) 0%,rgba(174,234,0,0.7) 1%,rgba(174,234,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3aeea00', endColorstr='#aeea00',GradientType=1 ); /* IE6-9 */
    z-index: 0;
  }

  &__final {
    -webkit-tap-highlight-color: transparent;

    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
    overflow: hidden;

    width: 50%;
    height: 100%;

    font: {
      size: 1em;
      family: $bold-font;
      weight: 700;
    }

    color: $text-black;
    line-height: normal;

    z-index: 10;

    border: 2px solid #000000;
    border-radius: 15px;
    background-color: $submit-btn-bg;

    padding: 2px 15px;
    margin-top: 15px;
    margin-bottom: 10px;

    box-shadow: 2px 2px 1px 1px rgba(0,0,0,1);
    -webkit-box-shadow: 2px 2px 1px 1px rgba(0,0,0,1);
    -moz-box-shadow: 2px 2px 1px 1px rgba(0,0,0,1);

    text-decoration: none;
    text-transform: uppercase;

    outline: none;
    cursor: pointer;

    &:active {
      transition: 0.2s ease;
      transform: translate(2px, 2px);
      box-shadow: none;
    }
  }
}

@media only screen and (min-width: $mobile) {
  .main-content {
    &__final {
      padding: 2px 15px;
      font-size: 1.125em;
    }
  }
}

@media only screen and (min-width: $hdm) {
  .main-content {
    &__buttontxt {
      font-size: 1.125rem;
    }

    &__final {
      border-radius: 30px;
      max-width: 180px;
      font-size: 1.25em;
    }
  }
}

@media only screen and (min-width: $tablet) {
  .main-content {
    &__submit {
      width: 192px;
      height: 44px;
      padding-left: 0;

      &::after {
        right: 2rem;
      }
    }

    &__buttontxt {
      font-size: 1.25rem;
    }

    &__final {
      border-radius: 30px;
      max-width: 230px;
      margin-top: 15px;
      font-size: 1.968em;
    }
  }
}

@media only screen and (min-width: $laptop) {
  .main-content {
    margin-top: 0px;
  }
}

@media only screen and (min-width: $laptop-wide) {
  .main-content {
    max-width: 720px;
    margin-top: 0;
    z-index: 10;

    &__final {
      margin-top: 10px;
      height: 45px;
    }
  }
}

@media only screen and (min-width: $widebook-sm) {
  .main-content {
    margin-top: 25px;
  }
}

@media only screen and (min-width: $widebook) {
  .main-content {
    max-width: 720px;
    margin-top: 0px;
  }
}

@media only screen and (min-width: $widebook-hd) {
  .main-content {
    max-width: 860px;

    &__final {
      height: 55px;
    }
  }
}

@media only screen and (min-width: $ultra) {
  .main-content {
    max-width: 1290px;
    margin-top: -10px;

    &--final {
      margin-top: 100px;
    }

    &__final {
      height: 70px;
      font-size: 2.5em;
      max-width: 280px;
    }
  }
}
