.popup-doc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1000;

  &__wrapper {
    width: 300px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background-color: #ffffff;

    position: relative;

    border: 2px solid #000000;
    border-radius: 0;

    box-shadow: 0px 0px 25px 2px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0px 0px 25px 2px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 25px 2px rgba(0,0,0,0.4);
  }

  &__close {
    @extend .popup-rules__close;
  }

  &__title {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;

    margin: 0;

    padding-top: 5px;
    padding-bottom: 5px;

    border-bottom: 2px solid #000000;

    background-color: #ffcb2b;
    background-image: url('../img/popup-doc-head-pattern.png');
    background-size: 30px 30px;
    background-repeat: repeat;
    background-position: top left;

    font: {
      size: 1em;
      family: $bold-font;
      weight: 700;
    }

    color: $text-lightblack;
    text-transform: uppercase;
    text-align: center;
    line-height: normal;
  }

  &__body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background-image: url('../img/popup-doc-body-pattern.png');
    background-size: 150px 150px;
    background-repeat: repeat;
    background-position: top left;
  }

  &__user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
  }

  &__photo {
    width: 150px;
    height: 150px;

    border-radius: 75px;
    background-position: 50% 50%;
    background-repeat: no-repeat;

    position: relative;

    &::after {
      display: block;

      position: absolute;
      content: '';

      height: 194px;
      width: 169px;

      background-image: url('../img/doc-form-bg.svg');
      background-size: 169px 194px;
      background-repeat: no-repeat;
      background-position: center center;
      z-index: 1001;
      top: -27px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__bg {
    display: block;

    position: absolute;

    height: 150px;
    width: 150px;

    background-image: url('../img/doc-form-pattern.png');
    background-size: 150px 150px;
    background-position: center center;
    background-repeat: no-repeat;

    z-index: 1001;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    &--closed {
      display: none;
    }
  }

  &__img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }

  &__upload {
    font: {
      family: $semibold-font;
      size: 1em;
      weight: 500;
    }

    color: $text-white;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;

    position: absolute;
    z-index: 1004;
  }
}

@media only screen and (min-width: $hdm) {
  .popup-doc {
    &__wrapper {
      width: 394px;
    }

    &__title {
      padding-top: 10px;
      padding-bottom: 10px;
      font: {
        size: 1.125em;
      }
    }

    &__user {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 40px;
    }

    &__photo {
      width: 200px;
      height: 200px;

      border-radius: 100px;

      &::after {
        height: 259px;
        width: 227px;

        background-size: 227px 259px;
        top: -36px;
      }
    }

    &__bg {
      height: 201px;
      width: 201px;

      background-size: 201px 201px;
    }

    &__img {
      width: 200px;
      height: 200px;
    }

    &__upload {
      font: {
        size: 1.25em;
      }
    }
  }
}

@media only screen and (min-width: $laptop) {
  .popup-doc {
    &__wrapper {
      width: 575px;
      height: 448px;
    }

    &__title {
      padding-top: 10px;
      padding-bottom: 10px;

      font: {
        size: 1.75em;
      }
    }

    &__body {
      flex-direction: row;
      justify-content: space-between;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 20px;
      padding-bottom: 50px;
    }

    &__user {
      width: 50%;
      padding: 0;
    }

    &__upload {
      font: {
        size: 1.625em;
      }
    }
  }
}
