.popup-prize {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1000;

  display: none;

  &.active {
    display: flex;
  }

  &__wrapper {
    width: 300px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background-image: url('../img/prize-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;

    position: relative;

    padding-left: 0.625rem;
    padding-right: 0.625rem;

    padding-bottom: 1.25rem;

    border: 2px solid #000000;
    border-radius: 0;

    box-shadow: 0px 0px 25px 2px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0px 0px 25px 2px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 25px 2px rgba(0,0,0,0.4);

    z-index: 1001;
  }

  &__close {
    @extend .popup-rules__close;
  }

  &__title {
    width: 100%;

    margin: 0;
    padding-top: 1.25rem;

    @include font-setting($secondary-font, 1.25rem, 1, 500, #668ef3);

    text-transform: uppercase;
    text-align: center;
  }

  &__body {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
  }

  &__img {
    display: inline-flex;

    width: 280px;
    margin-bottom: 1.25rem;
  }

  &__description {
    @include font-setting($secondary-font, 0.75rem, 1.3, 500, $text-lightblack);
    text-transform: uppercase;
    text-align: left;

    max-width: 300px;
    margin-top: 0;
    margin-bottom: 0.625rem;
  }

  &__note {
    align-self: flex-start;

    @include font-setting($secondary-font, 0.5rem, 1.3, 500, $text-lightblack);
    text-transform: uppercase;
    text-align: left;

    max-width: 80%;
  }
}

@media only screen and (min-width: 414px) {
  .popup-prize {
    &__wrapper {
      width: 360px;

      padding-left: 1.25rem;
      padding-right: 1.25rem;

      padding-bottom: 1.75rem;
    }

    &__img {
      width: 100%;
      margin-bottom: 1.875rem;
    }

    &__description {
      @include font-setting($secondary-font, 0.75rem, 1.3, 500, $text-lightblack);
      font-size: 0.875rem;

      max-width: 320px;
      margin-top: 0;
      margin-bottom: 1.25rem;
    }

    &__note {
      font-size: 0.625rem;

      max-width: 90%;
    }
  }
}
