.reg-form {
  width: 100%;
  @include flex-setting(column, flex-start, center);

  &__submit {
    @include flex-setting(column, center, center);
    @include font-setting($primary-font, 1rem, 1, 700, $text-black);
    text-transform: uppercase;
    text-decoration: none;

    border: 2px solid #000;
    padding-left: 1.25rem;
    padding-top: 0.625rem;
    padding-right: 3.25rem;
    padding-bottom: 0.625rem;

    background-color: #dbee07;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 1);
    transition: 0.2s ease-in-out;

    position: relative;

    &::after {
      position: absolute;
      content: '';

      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 186'%3E%3Cg data-name='Слой 2'%3E%3Cpath d='M379.6 82.38l-78.38-78a15 15 0 00-21.16 21.26L332.67 78H15a15 15 0 000 30h317.67l-52.62 52.37a15 15 0 1021.16 21.26l78.38-78a15 15 0 000-21.24z' data-name='Режим изоляции'/%3E%3C/g%3E%3C/svg%3E");
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: contain;

      width: 26px;
      height: 13px;

      right: 1rem;
      top: 50%;
      transform: translateY(-50%);
      transition: 0.2s ease-in-out;
    }

    &:hover,
    &:active,
    &:focus {
      box-shadow: none;
      transform: translate(3px, 3px);
      transition: 0.2s ease-in-out;

      &::after {
        right: 0.625rem;
        transition: 0.2s ease-in-out;
      }
    }
  }
}

@media only screen and (min-width: $hdm) {
  .reg-form {
    &__submit {
      width: 200px;
      height: 40px;
      font-size: 1.25rem;
    }
  }
}

@media only screen and (min-width: $laptop) {
  .reg-form {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    padding-top: 10px;

    &__submit {
      padding: 2px 10px;

      font: {
        size: 1.25em;
      }
    }
  }
}

@media only screen and (min-width: $widebook) {
  .reg-form {
    padding-left: 27px;
    padding-right: 28px;
    padding-bottom: 24px;
    padding-top: 10px;

    &__submit {
      padding: 2px 15px;

      font: {
        size: 1.688em;
      }
    }
  }
}
