.show-slider {
  width: 280px;

  &:not(.slick-initialized) {
    visibility: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .prev-2,
  .next-2 {
    display: none;
  }

  .slick-dots {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;

    margin-top: 5px;

    li {
      margin: 0 0.5rem;
    }

    button {
      display: block;
      width: 14px;
      height: 14px;
      padding: 0;
      border: 2px solid #000000;
      border-radius: 100%;
      background-color: #ffffff;
      text-indent: -9999px;

      cursor: pointer;
      outline: none;
    }

    li.slick-active button {
      background-color: transparent;
      position: relative;

      width: 14px;
      height: 14px;
      border: 2px solid #000000;
      border-radius: 100%;
      background-color: #ffffff;

      cursor: pointer;
      outline: none;

      &::before {
        position: absolute;
        content: '';

        width: 22px;
        height: 22px;

        border: 2px solid #000000;

        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);

        background-color: transparent;
        border-radius: 50%;
      }
    }
  }

  &__item {
    background-color: transparent;
    border: 2px solid #000000;
    border-top: none;
  }
}

@media only screen and (min-width: $mobile) {
  .show-slider {
    width: 340px;

    .slick-dots {
      margin-top: 10px;
    }
  }
}

@media only screen and (min-width: $hdm) {
  .show-slider {
    width: 360px;

    .slick-dots {
      margin-top: 20px;
    }
  }
}

@media only screen and (min-width: $smt) {
  .show-slider {
    .prev-2,
    .next-2 {
      display: block;

      width: 29px;
      height: 53px;

      cursor: pointer;
      outline: none;
    }

    .prev-2 {
      background-image: url('../img/arr-prev.png');
      background-size: 29px 53px;
      background-repeat: no-repeat;
      background-position: center center;

      position: absolute;

      top: 35%;
      left: -50px;

      z-index: 22;
    }

    .next-2 {
      background-image: url('../img/arr-next.png');
      background-size: 29px 53px;
      background-repeat: no-repeat;
      background-position: center center;

      position: absolute;

      top: 35%;
      right: -50px;

      z-index: 22;
    }

    .slick-disabled {
      opacity: 0.5;
    }
  }
}

@media only screen and (min-width: $tablet) {
  .show-slider {
    width: 640px;

    .slick-dots {
      margin-top: 10px;

      button {
        width: 15px;
        height: 15px;
      }

      li.slick-active button {
        width: 15px;
        height: 15px;

        &::before {
          width: 28px;
          height: 28px;
        }
      }
    }

    .prev-2 {
      top: 43%;
    }

    .next-2 {
      top: 43%;
    }
  }
}
