.show-slider {
  width: 270px;

  &--desktop {
    display: none !important;
  }

  &:not(.slick-initialized) {
    visibility: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .prev-2,
  .next-2 {
    display: none;
  }

  .slick-dots {
    @include flex-setting(row, center, center);

    list-style: none;
    margin: 0;
    padding: 0;

    margin-top: 1.25rem;

    li {
      margin: 0 0.5rem;
    }

    button {
      display: block;
      width: 12px;
      height: 12px;
      padding: 0;
      border: 1px solid #000000;
      border-radius: 100%;
      background-color: #ffffff;
      text-indent: -9999px;

      cursor: pointer;
      outline: none;
    }

    li.slick-active button {
      background-color: transparent;
      position: relative;

      width: 12px;
      height: 12px;
      border: 1px solid #000000;
      border-radius: 100%;
      background-color: #ffffff;

      cursor: pointer;
      outline: none;

      &::before {
        position: absolute;
        content: '';

        width: 18px;
        height: 18px;

        border: 1px solid #ffffff;

        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);

        background-color: transparent;
        border-radius: 50%;
      }
    }
  }

  &__item {
    background-color: transparent;
    border: 1px solid #000000;
    border-top: none;
  }
}

@media only screen and (min-width: $mobile) {
  .show-slider {
    width: 310px;

    .prev-2,
    .next-2 {
      display: block;

      width: 15px;
      height: 27px;

      cursor: pointer;
      outline: none;
    }

    .prev-2 {
      background-image: url('../img/arr-prev.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;

      position: absolute;

      top: 35%;
      left: -20px;

      z-index: 22;
    }

    .next-2 {
      background-image: url('../img/arr-next.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;

      position: absolute;

      top: 35%;
      right: -20px;

      z-index: 22;
    }

    .slick-disabled {
      opacity: 0.5;
    }

    .slick-dots {
      margin-top: 10px;
    }
  }
}

@media only screen and (min-width: $hdm) {
  .show-slider {
    width: 340px;

    .slick-dots {
      margin-top: 20px;
    }
  }
}

@media only screen and (min-width: $tablet) {
  .show-slider {
    width: 640px;

    .slick-dots {
      margin-top: 20px;

      button {
        width: 15px;
        height: 15px;
      }

      li.slick-active button {
        width: 15px;
        height: 15px;

        &::before {
          width: 28px;
          height: 28px;
        }
      }
    }

    .next-2,
    .prev-2 {
      width: 30px;
      height: 59px;
    }

    .prev-2 {
      top: 43%;
      left: -50px;
    }

    .next-2 {
      top: 43%;
      right: -50px;
    }
  }
}

@media only screen and (min-width: $laptop) {
  .show-slider {
    width: 640px;

    .prev-2 {
      top: 40%;
    }

    .next-2 {
      top: 40%;
    }
  }
}

@media only screen and (min-width: $laptop-hd) {
  .show-slider {
    &--mobile {
      display: none !important;
    }

    &--desktop {
      display: block !important;
      width: 810px;

      .slick-dots {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;

        margin-top: 10px;

        li {
          margin: 0 0.5rem;
        }

        button {
          display: block;
          width: 14px;
          height: 14px;
          padding: 0;
          border: 2px solid #000000;
          border-radius: 100%;
          background-color: #ffffff;
          text-indent: -9999px;

          cursor: pointer;
          outline: none;
        }

        li.slick-active button {
          background-color: transparent;
          position: relative;

          width: 14px;
          height: 14px;
          border: 2px solid #000000;
          border-radius: 100%;
          background-color: #ffffff;

          cursor: pointer;
          outline: none;

          &::before {
            position: absolute;
            content: '';

            width: 22px;
            height: 22px;

            border: 2px solid #000000;

            top: 50%;
            left: 50%;

            transform: translate(-50%, -50%);

            background-color: transparent;
            border-radius: 50%;
          }
        }
      }
    }

    &__item {
      &--desktop {
        width: 100%;
        border: none;
        padding-left: 2px;
        padding-bottom: 2px;
        padding-right: 2px;

        pointer-events: all;
      }
    }
  }
}

@media only screen and (min-width: $laptop-wide) {
  .show-slider {
    &--desktop {
      width: 660px;
    }

    .prev-2,
    .next-2 {
      top: 33%;
    }
  }
}

@media only screen and (min-width: $widebook-hd) {
  .show-slider {
    &--desktop {
      width: 810px;
    }

    .prev-2 {
      width: 53px;
      height: 30px;
      border: 2px solid #000000;
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;

      background-image: url('../img/left-arrow.png');
      background-size: 32px 21px;
      background-position: center center;
      background-repeat: no-repeat;

      top: -40px;
      right: 50px;
      left: auto;
    }

    .next-2 {
      width: 53px;
      height: 30px;
      border: 2px solid #000000;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;

      background-image: url('../img/right-arrow.png');
      background-size: 32px 21px;
      background-position: center center;
      background-repeat: no-repeat;
      top: -40px;
      right: -2px;
      left: auto;
    }
  }
}
