.show-filter {
  width: 100%;
  flex-basis: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  border: 2px solid #000000;
  border-radius: 30px;

  background-color: #ffffff;

  padding-left: 10px;
  padding-right: 2px;

  &__close {
    min-width: 20px;
    max-height: 20px;
    min-height: 20px;
    min-height: 20px;

    background-color: #f44336;
    border-radius: 10px;
    border: 1px solid #000000;

    background-image: url('../img/close_btn.png');
    background-repeat: no-repeat;
    background-size: 12px 12px;
    background-position: center center;

    cursor: pointer;
    outline: none;
  }
}

@media only screen and (min-width: $mobile) {
  .show-filter {
    &__close {
      min-width: 22px;
      max-height: 22px;
      min-height: 22px;
      min-height: 22px;
      border-radius: 11px;

      background-size: 13px 13px;
    }
  }
}

@media only screen and (min-width: $hdm) {
  .show-filter {
    &__close {
      min-width: 24px;
      max-height: 24px;
      min-height: 24px;
      min-height: 24px;
      border-radius: 12px;

      background-size: 14px 14px;
    }
  }
}

@media only screen and (min-width: $hdm) {
  .show-filter {
    padding-right: 4px;
    padding-left: 25px;
    
    &__close {
      min-width: 36px;
      max-height: 36px;
      min-height: 36px;
      min-height: 36px;
      border-radius: 18px;

      background-size: 20px 20px;
    }
  }
}
