.show-filter {
  width: 100%;
  flex-basis: 100%;

  @include flex-setting(row, space-between, center);

  border: 1px solid #000000;
  border-radius: 30px;

  background-color: #ffffff;

  padding-left: 0.625rem;
  padding-top: 0.188rem;
  padding-bottom: 0.188rem;
  padding-right: 0.25rem;

  &__close {
    min-width: 20px;
    max-height: 20px;
    min-height: 20px;
    min-height: 20px;

    background-color: #f44336;
    border-radius: 10px;
    border: 1px solid #000000;

    background-image: url('../img/close_btn.png');
    background-repeat: no-repeat;
    background-size: 70% 70%;
    background-position: center center;

    cursor: pointer;
    outline: none;
  }
}

@media only screen and (min-width: $mobile) {
  .show-filter {
    &__close {
      min-width: 22px;
      max-height: 22px;
      min-height: 22px;
      min-height: 22px;
      border-radius: 11px;
    }
  }
}

@media only screen and (min-width: $hdm) {
  .show-filter {
    &__close {
      min-width: 24px;
      max-height: 24px;
      min-height: 24px;
      min-height: 24px;
      border-radius: 12px;
    }
  }
}

@media only screen and (min-width: $tablet) {
  .show-filter {
    padding-right: 0.25rem;
    padding-left: 1.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    min-height: 42px;
    border-width: 2px;

    &__close {
      min-width: 36px;
      max-height: 36px;
      min-height: 36px;
      min-height: 36px;
      border-radius: 18px;
      border-width: 2px;
    }
  }
}

@media only screen and (min-width: $laptop-hd) {
  .show-filter {
    padding-right: 4px;
    padding-left: 24px;
  }
}

@media only screen and (min-width: $laptop-wide) {
  .show-filter {
    padding-right: 1.5rem;

    &__close {
      display: none;
    }
  }
}

@media only screen and (min-width: $widebook-sm) {
  .show-filter {
    min-height: 42px;
  }
}

@media only screen and (min-width: $widebook-hd) {
  .show-filter {
    min-height: 46px;
  }
}
