.social-list {
  width: 100%;

  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding-top: 10px;
  margin-bottom: 5px;

  &__item {
    width: 25px;
    height: 25px;

    border-radius: 50%;
    background-color: #ffffff;

    &:not(:last-of-type) {
      margin-right: 10px;
    }

    &:hover {
      background-color: $social-hover;
    }
  }

  &__link {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;

    position: relative;

    .fa-youtube::before {
      position: absolute;
      content: '\f167';
      font-size: 1.125em;
      color: $text-lightblack;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .fa-facebook-f::before {
      position: absolute;
      content: '\f39e';
      font-size: 1.125em;
      color: $text-lightblack;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .fa-vk::before {
      position: absolute;
      content: '\f189';
      font-size: 1.125em;
      color: $text-lightblack;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .fa-twitter::before {
      position: absolute;
      content: '\f099';
      font-size: 1.125em;
      color: $text-lightblack;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .fa-instagram::before {
      position: absolute;
      content: '\f16d';
      font-size: 1.125em;
      color: $text-lightblack;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .fa-odnoklassniki::before {
      position: absolute;
      content: '\f263';
      font-size: 1.125em;
      color: $text-lightblack;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

@media only screen and (min-width: $smt) {
  .social-list {
    width: 50%;

    padding-top: 0;
    margin-bottom: 0;
    justify-content: flex-end;

    &__item {
      width: 34px;
      height: 34px;

      &:not(:last-of-type) {
        margin-right: 10px;
      }
    }
  }
}

@media only screen and (min-width: $tablet) {
  .social-list {
    &__item {
      width: 42px;
      height: 42px;

      &:not(:last-of-type) {
        margin-right: 10px;
      }
    }

    &__link {
      .fa-youtube::before {
        font-size: 1.75em;
      }

      .fa-facebook-f::before {
        font-size: 1.75em;
      }

      .fa-vk::before {
        font-size: 1.75em;
      }

      .fa-twitter::before {
        font-size: 1.75em;
      }

      .fa-instagram::before {
        font-size: 1.75em;
      }

      .fa-odnoklassniki::before {
        font-size: 1.75em;
      }
    }
  }
}

@media only screen and (min-width: $laptop-hd) {
  .social-list {
    &__item {
      &:not(:last-of-type) {
        margin-right: 18px;
      }
    }
  }
}
