.top-slider {
  width: 100%;
  position: relative;
  outline: none;

  &:not(.slick-initialized) {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__item {
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;

    width: 100%;

    padding-bottom: 2px;

    outline: none;
  }

  &__show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 6px solid #ffffff;

    width: 90px;
    height: 90px;

    box-shadow:0px 0px 1px 1px rgba(0,0,0,1);
    -webkit-box-shadow:0px 0px 1px 1px rgba(0,0,0,1);
    -moz-box-shadow:0px 0px 1px 1px rgba(0,0,0,1);

    outline: none;
  }

  &__details {
    cursor: pointer;
    outline: none;

    border: 2px solid #000000;

    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    &:active,
    &:hover {
      .top-slider__name {
        display: inline-flex;
        opacity: 1;
      }
    }

    &--selected {
      position: relative;

      .top-slider__name {
        display: none;
      }

      &::before {
        position: absolute;
        content: '';
        background-color: rgba(174, 234, 0, 0.6);
        width: 100%;
        height: 100%;
      }

      &::after {
        position: absolute;
        content: '';

        width: 60px;
        height: 47px;

        background-image: url('../img/vote-tick.png');
        background-size: 60px 47px;
        background-repeat: no-repeat;
        background-position: 50% 50%;

        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &:hover {
        .top-slider__name {
          display: none;
        }
      }
    }
  }

  &__name {
    padding-top: 2px;
    padding-bottom: 2px;

    font: {
      size: 0.5em;
      family: $medium-font;
      weight: 500;
    }

    color: $text-lightblack;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;

    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    border-top: 1px solid #000000;

    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    opacity: 0;
  }
}

@media only screen and (min-width: $mobile) {
  .top-slider {
    &__show {
      width: 100px;
      height: 100px;
    }

    &__name {
      font: {
        size: 0.55em;
      }
    }
  }
}

@media only screen and (min-width: $hdm) {
  .top-slider {
    &__show {
      width: 110px;
      height: 110px;
    }

    &__details {
      width: 98px;
      height: 98px;
    }

    &__name {
      font: {
        size: 0.55em;
      }
    }
  }
}

@media only screen and (min-width: $tablet) {
  .top-slider {
    &__show {
      width: 208px;
      height: 208px;
      border-width: 12px;

      box-shadow: 0px 0px 1px 2px rgba(0,0,0,1);
      -webkit-box-shadow: 0px 0px 1px 2px rgba(0,0,0,1);
      -moz-box-shadow: 0px 0px 1px 2px rgba(0,0,0,1);
    }

    &__details {
      width: 182px;
      height: 182px;

      &--selected {
        &::after {
          width: 120px;
          height: 93px;

          background-size: 120px 93px;
        }
      }
    }

    &__name {
      width: 154px;
      height: auto;

      border: 2px solid #000000;
      padding-top: 4px;
      padding-bottom: 4px;

      margin-bottom: 19px;

      font: {
        size: 1em;
      }
    }
  }
}

@media only screen and (min-width: $laptop) {
  .top-slider {
    &__show {
      width: 150px;
      height: 150px;
      border-width: 6px;

      box-shadow: 0px 0px 1px 2px rgba(0,0,0,1);
      -webkit-box-shadow: 0px 0px 1px 2px rgba(0,0,0,1);
      -moz-box-shadow: 0px 0px 1px 2px rgba(0,0,0,1);
    }

    &__details {
      width: 134px;
      height: 134px;

      &--selected {
        &::after {
          width: 120px;
          height: 93px;

          background-size: 120px 93px;
        }
      }
    }

    &__name {
      width: 100%;
      height: auto;

      border: 2px solid #000000;
      border-bottom: none;
      border-left: none;
      border-right: none;
      padding-top: 4px;
      padding-bottom: 4px;

      margin-bottom: 0;

      font: {
        size: 0.75em;
      }
    }
  }
}

@media only screen and (min-width: $laptop-wide) {
  .top-slider {
    &__show {
      width: 196px;
      height: 196px;
      border-width: 10px;

      box-shadow: 0px 0px 1px 1px rgba(0,0,0,1);
      -webkit-box-shadow: 0px 0px 1px 1px rgba(0,0,0,1);
      -moz-box-shadow: 0px 0px 1px 1px rgba(0,0,0,1);
    }

    &__details {
      width: 174px;
      height: 174px;

      &--selected {
        &::after {
          width: 113px;
          height: 84px;

          background-size: 113px 84px;
        }
      }
    }

    &__name {
      width: 146px;
      height: auto;

      border: 2px solid #000000;
      padding-top: 4px;
      padding-bottom: 4px;

      margin-bottom: 17px;

      font: {
        size: 0.864em;
      }
    }
  }
}

@media only screen and (min-width: $widebook) {
  .top-slider {
    &__show {
      width: 252px;
      height: 252px;
      border-width: 12px;

      box-shadow: 0px 0px 1px 1px rgba(0,0,0,1);
      -webkit-box-shadow: 0px 0px 1px 1px rgba(0,0,0,1);
      -moz-box-shadow: 0px 0px 1px 1px rgba(0,0,0,1);
    }

    &__details {
      width: 230px;
      height: 230px;

      &--selected {
        &::after {
          width: 154px;
          height: 114px;

          background-size: 154px 114px;
        }
      }
    }

    &__name {
      width: 200px;
      margin-bottom: 23px;

      font: {
        size: 1.125em;
      }
    }
  }
}

@media only screen and (min-width: $widebook-hd) {
  .top-slider {
    &__show {
      width: 270px;
      height: 270px;
      border-width: 12px;
    }

    &__details {
      width: 248px;
      height: 248px;
    }

    &__name {
      width: 200px;
      margin-bottom: 23px;

      font: {
        size: 1.212em;
      }
    }
  }
}
