.vote-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 100%;

  margin-bottom: 10px;

  box-shadow: 0px 0px 0px 2px rgba(0,0,0,1);

  border: 6px solid #ffffff;
  background-color: #546e7a;
}

@media only screen and (min-width: $mobile) {
  .vote-form {
    width: 100%;

    max-width: 320px;
  }
}

@media only screen and (min-width: $hdm) {
  .vote-form {
    width: 100%;

    max-width: 354px;

    margin-bottom: 25px;
  }
}

@media only screen and (min-width: $tablet) {
  .vote-form {
    width: 100%;

    max-width: 624px;

    margin-bottom: 0.625rem;
  }
}

@media only screen and (min-width: 1024px) {
  .vote-form {
    width: 100%;

    max-width: 450px;

    margin-bottom: 0.625rem;
  }
}

@media only screen and (min-width: $laptop-wide) {
  .vote-form {
    width: 100%;

    max-width: 592px;

    margin-bottom: 10px;
  }
}

@media only screen and (min-width: $widebook) {
  .vote-form {
    width: 100%;

    max-width: 760px;

    margin-bottom: 10px;
    border-width: 8px;
  }
}

@media only screen and (min-width: $widebook-hd) {
  .vote-form {
    width: 100%;

    max-width: 812px;

    margin-bottom: 13px;
    border-width: 8px;
  }
}
