.vote-item {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__divider {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;

    padding-top: 10px;
    padding-bottom: 10px;

    position: relative;

    &::before {
      position: absolute;
      content: '';

      width: 100%;
      height: 6px;

      background-color: #ffffff;
      border: 1px solid #000000;
      border-left: none;
      border-right: none;

      top: 35%;
      left: 0;

      transform: translateY(-35%);
    }
  }

  &__show {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 30px;
  }

  &__round {
    width: 30px;
    height: 30px;
    border: 6px solid #ffffff;

    box-shadow:0px 0px 1px 1.5px rgba(0,0,0,1);
    -webkit-box-shadow:0px 0px 1px 1.5px rgba(0,0,0,1);
    -moz-box-shadow:0px 0px 1px 1.5px rgba(0,0,0,1);

    border-radius: 50%;
    position: relative;
  }

  &__inner {
    position: absolute;

    width: 20px;
    height: 20px;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    background-color: #546e7a;
    border: 1px solid #000000;
    border-radius: 10px;

    &--done {
      background-color: #8ff739;
    }

    &--current {
      background-color: #ff6700;
    }
  }

  &__time {
    font: {
      size: 0.875em;
      family: $semibold-font;
      weight: 600;
    }

    color: $text-white;
    line-height: normal;
    text-transform: uppercase;
  }
}
