.vote-item {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__divider {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;

    padding-top: 10px;
    padding-bottom: 10px;

    position: relative;

    &::before {
      position: absolute;
      content: '';

      width: 100%;
      height: 6px;

      background-color: #ffffff;
      border: 1px solid #000000;
      border-left: none;
      border-right: none;

      top: 35%;
      left: 0;

      transform: translateY(-35%);
    }
  }

  &__show {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 30px;
  }

  &__round {
    width: 30px;
    height: 30px;
    border: 6px solid #ffffff;

    margin-bottom: 0.25rem;

    box-shadow:0px 0px 1px 1.5px rgba(0,0,0,1);
    -webkit-box-shadow:0px 0px 1px 1.5px rgba(0,0,0,1);
    -moz-box-shadow:0px 0px 1px 1.5px rgba(0,0,0,1);

    border-radius: 50%;
    position: relative;
  }

  &__inner {
    position: absolute;

    width: 20px;
    height: 20px;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    background-color: #546e7a;
    border: 1px solid #000000;
    border-radius: 10px;

    &--done {
      background-color: #8ff739;
    }

    &--current {
      background-color: #ff6700;
    }
  }

  &__time {
    @include font-setting($primary-font, 1rem, 1, 700, $text-white);
    text-transform: uppercase;
  }
}

@media only screen and (min-width: $mobile) {
  .vote-item {
    &__show {
      width: 40px;
    }

    &__round {
      width: 40px;
      height: 40px;
    }

    &__inner {
      width: 30px;
      height: 30px;

      border-radius: 15px;
    }

    &__time {

    }
  }
}

@media only screen and (min-width: $hdm) {
  .vote-item {
    &__show {
      width: 40px;
    }

    &__round {
      width: 40px;
      height: 40px;
    }

    &__inner {
      width: 30px;
      height: 30px;

      border-radius: 15px;
    }

    &__time {

    }
  }
}

@media only screen and (min-width: $tablet) {
  .vote-item {
    &__divider {
      padding-top: 7px;
      padding-bottom: 0;

      &::before {
        height: 10px;
        border: 2px solid #000000;
        border-left: none;
        border-right: none;
      }

      &--first {
        .vote-item__show:nth-of-type(2),
        .vote-item__show:nth-of-type(4) {
          position: relative;

          &::after {
            position: absolute;
            content: '';

            width: 8px;
            height: 23px;

            background-color: #ffffff;
            border-left: 2px solid #000000;
            border-right: 2px solid #000000;
            top: -7px;
            right: -35px;
          }
        }
      }
      &--second {
        .vote-item__show:nth-of-type(3),
        .vote-item__show:nth-of-type(5) {
          position: relative;

          &::after {
            position: absolute;
            content: '';

            width: 8px;
            height: 64px;

            background-color: #ffffff;
            border-left: 2px solid #000000;
            border-right: 2px solid #000000;
            top: -48px;
            right: -35px;
          }
        }
      }
      &--third {
        .vote-item__show:nth-of-type(1),
        .vote-item__show:nth-of-type(4) {
          position: relative;

          &::after {
            position: absolute;
            content: '';

            width: 8px;
            height: 64px;

            background-color: #ffffff;
            border-left: 2px solid #000000;
            border-right: 2px solid #000000;
            top: -48px;
            right: -35px;
          }
        }
      }
      &--fourth {
        padding-bottom: 0.625rem;

        .vote-item__show:nth-of-type(2) {
          position: relative;

          &::after {
            position: absolute;
            content: '';

            width: 8px;
            height: 66px;

            background-color: #ffffff;
            border-left: 2px solid #000000;
            border-right: 2px solid #000000;
            top: -48px;
            right: -35px;
          }
        }

        .vote-item__show:nth-of-type(3),
        .vote-item__show:nth-of-type(5) {
          position: relative;

          &::after {
            position: absolute;
            content: '';

            width: 8px;
            height: 47px;

            background-color: #ffffff;
            border-left: 2px solid #000000;
            border-right: 2px solid #000000;
            bottom: -10px;
            right: -35px;
          }
        }
      }
    }

    &__show {
      width: 40px;
    }

    &__round {
      width: 40px;
      height: 40px;

      box-shadow: 0px 0px 0px 2.5px rgba(0,0,0,1);
    }

    &__inner {
      width: 28px;
      height: 28px;

      border-radius: 14px;
      border-width: 2px;
    }

    &__time {
      font-size: 1.25rem;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .vote-item {
    &__divider--upper {
      margin-top: 0.625rem;
    }
    &__divider--lower {
      margin-bottom: 0.625rem;
    }
  }
}

@media only screen and (min-width: $laptop-wide) {
  .vote-item {
    &__divider {
      &--first {
        .vote-item__show:nth-of-type(2),
        .vote-item__show:nth-of-type(4) {
          &::after {
            height: 20px;
          }
        }
      }

      &--second {
        .vote-item__show:nth-of-type(3),
        .vote-item__show:nth-of-type(5) {
          &::after {
            height: 54px;
            top: -43px;
          }
        }
      }
      &--third {
        .vote-item__show:nth-of-type(1),
        .vote-item__show:nth-of-type(4) {
          &::after {
            height: 55px;
            top: -43px;
          }
        }
      }
      &--fourth {
        .vote-item__show:nth-of-type(2) {
          &::after {
            height: 59px;
            top: -44px;
          }
        }

        .vote-item__show:nth-of-type(3),
        .vote-item__show:nth-of-type(5) {
          &::after {
            height: 41px;
          }
        }
      }
    }

    &__show {
      width: 40px;
    }

    &__round {
      width: 36px;
      height: 36px;

      box-shadow: 0px 0px 0px 2px rgba(0,0,0,1);
    }

    &__inner {
      width: 24px;
      height: 24px;

      border-radius: 12px;
      border-width: 1px;
    }

    &__time {
      font: {
        size: 1.094em;
      }
    }
  }
}

@media only screen and (min-width: $widebook) {
  .vote-item {
    &__divider {
      &::before {
        height: 12px;
        top: 32%;
      }

      &--first {
        .vote-item__show:nth-of-type(2),
        .vote-item__show:nth-of-type(4) {
          &::after {
            width: 12px;
            height: 23px;
            right: -40px;
          }
        }
      }

      &--second {
        .vote-item__show:nth-of-type(3),
        .vote-item__show:nth-of-type(5) {
          &::after {
            width: 12px;
            height: 73px;
            top: -57px;
            right: -40px;
          }
        }
      }
      &--third {
        .vote-item__show:nth-of-type(1),
        .vote-item__show:nth-of-type(4) {
          &::after {
            width: 12px;
            height: 73px;
            top: -57px;
            right: -40px;
          }
        }
      }
      &--fourth {
        .vote-item__show:nth-of-type(2) {
          &::after {
            width: 12px;
            height: 76px;
            top: -57px;
            right: -40px;
          }
        }

        .vote-item__show:nth-of-type(3),
        .vote-item__show:nth-of-type(5) {
          &::after {
            width: 12px;
            height: 57px;
            right: -40px;
          }
        }
      }
    }

    &__show {
      width: 60px;
    }

    &__round {
      width: 50px;
      height: 50px;

      border: 8px solid #ffffff;
    }

    &__inner {
      width: 34px;
      height: 34px;

      border-radius: 17px;
      border-width: 1px;
    }

    &__time {
      font: {
        size: 1.5em;
      }
    }
  }
}
